.demos-btn{
    width: auto;
    height: auto;
    padding: 20px 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(0, 158, 127);
    background-image: linear-gradient(
-60deg
, rgb(52, 143, 80), rgb(86, 180, 211));
    border-radius: 6px 0px 0px 6px;
    box-shadow: rgb(52 143 80 / 40%) 0px 0px 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 0px;
    z-index: 99;
    animation: 2s ease 0s infinite normal none running iLVPsa;
}

.demos-btn-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-orientation: upright;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-feature-settings: "vkrn", "vpal";
}