.card{
    border: none !important;
}

.card-body span{
    text-align: left;
}

.card-btn{
    margin-left: 70px;
    border: none;
    background-color: white;
    color: #009E7F;
    padding: 8px 20px;
}

.card-btn:hover{
    color: white;
    background-color: #009E7F;
    border-radius: 10px;
}